* {
    font-family: "Cousine", monospace;
    font-weight: normal;
    line-height: 1.45;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin: 0;
    color: #2c292d;
    position: relative;
    font-size: large;
}

.line { 
    font-size: 1.2em;
    /* background-color: #ffd866; */
    padding: 0.75rem 1.5rem;
    color: #2c292d;
    font-weight: 700;
}

h1.section {
    display:inline-block;
    text-align: center;
    padding: 0.55rem 1.5rem;
    width: 300px;
    background-color: #ffd866;

}

div {
    padding-top: 40px;
    padding-bottom: 40px;
}

div.para{
    padding-left: 10%;
    padding-right: 10%;
    font-size: small;
    text-align: justify;
}


div.headerd{
    text-align: center;
    padding: 0;
}
h1.header{
    display:inline-block;
    width: 400px;

    font-size: 2em;
    padding: 0.75rem 1.5rem;
    color: #2c292d;
    font-weight: 700;
    text-align: center;
    background-color: #ffd866;
}



b {
    font-weight: 700;
    padding: 0;
}

a {
    padding: 0;
    text-decoration-line: none;
}

a:hover{
    text-decoration-line: underline;
}

hr {
    border-top: 1px solid #2c292d94;
}

.img{
    text-align: center;
    display: block;
    padding-bottom: 0;
}

img{
    width:100%;
    max-width:400px;
    padding: 0;
}

.contents {
    text-align: center;
}

.section_header{
    text-align: center;
    padding: 0;
}

::-webkit-scrollbar
{
    width: 8px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}