* {
    font-family: "Cousine", monospace;
    font-weight: normal;
    line-height: 1.45;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin: 0;
    color: #2c292d;
    position: relative;
    font-size: large;
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */
}

html,body {
    margin:0;
    padding:0;
}

.line { 
    font-size: 1.2em;
    /* background-color: #ffd866; */
    padding: 0.75rem;
    color: #2c292d;
    font-weight: 700;
    text-align: center;
}

h1.section {
    display:inline-block;
    text-align: center;
    padding: 0.55rem 1.5rem;
    width: 300px;
    background-color: #ffd866;

}

div {
    padding-top: 40px;
    padding-bottom: 40px;
}

div.para{
    top: 0%;

    padding-left: 10%;
    padding-right: 10%;
    font-size: small;
    text-align: justify;
}


div.headerd{
    text-align: center;
    padding: 0;
    position: fixed;
    top: 0%;
    z-index: 1000;
    width: 100%;
}
.headerd a{
    padding: 0;
    margin: 0;
    background-color: none;
}
h1.header{
    /* display: inline-block; */
    /* position: relative; */
    /* width: 100%; */

    font-size: 2em;
    padding: 0.75rem 1.5rem;
    color: #2c292d;
    font-weight: 700;
    text-align: center;
    background-color: #ffd866;
}
div.body{
    margin-top: 8rem;
}

b {
    font-weight: 700;
    padding: 0;
    text-decoration: underline;
}

a {
    padding: 0;
    padding: 2px 10px;
    text-decoration-line: none;
}

a:hover{
    background-color: #ffd866;
    padding: 2px 10px;
    text-decoration-line: underline;
}

hr {
    border-top: 1px solid #2c292d94;
}

.img{
    text-align: center;
    display: block;
    padding: 0;
}

img{
    max-width:400px;
    padding: 0;
}

.contents {
    text-align: center;
}

div.contents a{
    font-size: larger;
}

.section_header{
    text-align: center;
    padding: 0;
}

::-webkit-scrollbar
{
    width: 8px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff6d9;
    overflow: hidden;
    padding: 0;
    /* padding-top: 4px; */
    /* margin-top: 50px; */
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin-top: 4.35rem;
    top: 0%;
}

div.links{
    text-align: center;
    display: inline-flex;
    padding: 0;
    /* border: 2px solid #2c292d; */
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ffd866;
    text-decoration: underline;
}

.footer{
    text-align: right;
    font-size: small;
    margin-bottom: 10px;
}

.footer a{
    margin: 0;
    padding: 0;
}

.label{
    text-align: center;
    font-size: small;
    padding-top: 0;
    padding-bottom: 20px;
    font-style: italic;
    font-weight: 700;
}

b.small{
    font-weight: 700;
    font-size: small;
    text-decoration: none;
}

div.oneline_images{
    display: inline-block;
    text-align: center;
    width: fit-content;
    padding: 0;
}

.oneline_block{
    text-align: center; 
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
}

li.conclist{
    font-size: small;
}

u.conclist_u{
    padding:0;
}

div.member_name{
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    /* background-color: #ffd866; */
    padding: 0;
    width: 300px;
    text-align: right;
}

div.member_image{
    padding: 0;
    width: 300px;
}

.member_image img{
    padding: 0%;
}

div.member_left{
    display: inline-block;
    /* vertical-align: top; */
    padding: 0;
    margin: 0;
    width: 300px;
    padding-right: 50px;
}

div.member_desc{
    display: inline-block;
    padding: 0;
    vertical-align: top;
    width: fit-content;
}

div.member{
    display: flex;
}

div.member_desc div{
    padding: 0;
}

.member_desc .member_desc_heading{
    font-size: large;
    font-weight: 700;
    text-decoration: underline;
}

.member_desc .member_desc_content{
    padding-bottom: 20px;
    font-size: medium;
}

.member_name a{
    font-size: 25px;
    font-weight: 700;
    padding: 0;
    width: 300px;
    text-align: right;
}

sup{
    padding: 0;
    font-size: smallest;
}

div.impl_stack_container{
    display: flex;
    padding: 0%;
    justify-content: end;
}

div.impl_stack_img{
    display: inline-block;
    padding: 0%;
    padding-left: 20px;
    width: 40%;
    min-width: 550px;
    max-width: 550px;
}

div.impl_stack_text{
    display: inline-block;
    padding: 0%;
    margin-left: 0;
    font-size: small;
    width: fit-content;

}